%% -*- erlang -*-
{erl_opts, [
            debug_info,
            warnings_as_errors
           ]}.

{deps, [
        {riakc,   ".*", {git, "git://github.com/basho/riak-erlang-client", {branch, "riak_ts-develop"}}},
        {riak_ql, ".*", {git, "git@github.com:basho/riak_ql.git",          {branch, "riak_ts-develop-1.3"}}},
        {clique,  ".*", {git, "git://github.com/basho/clique",             {tag,    "0.3.5"}}}
       ]}.
