%% -*- erlang -*-
{erl_opts, [
            debug_info,
            warnings_as_errors
           ]}.

{deps, [
        {riakc,    "2.5.*",   {git, "https://github.com/basho/riak-erlang-client", {tag, "2.5.1"}}},
        {riak_ql,  ".*",      {git, "https://github.com/basho/riak_ql",            {branch, "integration-1.5.2"}}},
        {jam,      ".*",      {git, "https://github.com/basho/jam",                {tag, "1.0.0"}}},
        {mochiweb, "2.9.0.*", {git, "https://github.com/basho/mochiweb.git",       {tag, "v2.9.0p2"}}},
        {clique,   "0.3.*",   {git, "https://github.com/basho/clique.git",         {tag, "0.3.8"}}}
       ]}.
