%% -*- erlang -*-
{erl_opts, [
            debug_info,
            warnings_as_errors
           ]}.

{deps, [
        {riakc,   ".*", {git, "git://github.com/basho/riak-erlang-client", {branch, "develop"}}},
        {riak_ql, ".*", {git, "git://github.com/basho/riak_ql", {branch, "develop"}}},
        {jam,     ".*", {git, "git://github.com/basho/jam", {branch, "develop"}}}
       ]}.
