%%% -*- erlang -*-
[
 {riak_shell, [
              {logging, off},
              {cookie, riak},
              {show_connection_status, false},
              {nodes, [
                       'dev1@127.0.0.1',
                       'dev2@127.0.0.1',
                       'dev3@127.0.0.1',
                       'dev4@127.0.0.1',
                       'dev5@127.0.0.1',
                       'dev6@127.0.0.1',
                       'dev7@127.0.0.1',
                       'dev8@127.0.0.1'
                      ]}
             ]}
].
